* {
	float: left;
	color: #777777;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	box-sizing: border-box;
}

p {
	float: left;
	border: 3px solid blue;
	margin: 0px;
}

header {
	background: white;
	width: 960px;
}

.headlink {
	position:relative;
	right: -500px;
}

.about {
	width: 650px;
	background: white;
	position: relative;
	height: 250px;
	top: 40px;
	left: 20px;
}

.connect {
	text-align: center;
	position: relative;
	background: white;
	width: 200px;
	height: 120px;
	top: 40px;
	left: 40px;
}

hr {
	width: 100%;
}

body {
	position: absolute;
	width: 960px;
	height: 300px;
	clear: both;
}

h1, h2{
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 24px;
}

h1 {
	position: relative;
	left: 20px;
	font-size: 30px;
	border: 15px solid #4aaaa5;
	width: 260px;
	background: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

h2 {
	color: #4aaaa5;
	margin: 10px;
}

footer {
	background: #666666;
	position: relative;
	bottom: -300px;
	width: 960px;
}

#foot {
	font-size: 20px;
	color: white;
	text-align: center;
}

img {
	margin: 10px;
	width: auto;
	
}

li {
	margin: 10px;
}